name: Cypress CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Cypress binary
        run: npx cypress install

      - name: Fix Cypress permissions
        run: chmod +x ./node_modules/.bin/cypress

      - name: Run Cypress headless
        run: npx cypress run --headless --browser chrome
